.receipt{
    background-color: white;
    width: 300px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.receipt-title{
    font-size:25px;
    padding: 5 5 5 5;
    font-weight: bold;
}
.receipt-product{
    text-align: center;
    width: auto;
}
.receipt-product div{
    font-size: 22px;
    display: flex;
    max-width: 220px;
    margin:0 auto;
    grid-template-columns: 120px 35px 55px;
    padding: 1px;
    justify-content: space-between;
}
.receipt-product-name{
    font-size: 18px;
    text-align: left;
}
.receipt-product-quantity{
    font-size: 18px;
}
.receipt-product-total{
    font-size: 18px;
    color: green;
    font-weight: 700;
    text-align: right;
}
.receipt-total{
    max-width: 220px;
    border-top: 1px solid #333;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-bottom:10px ;
    padding-top: 10px;
    display: grid;
    font-size: 20px;
    grid-template-columns: 120px 135px;
}
.receipt-total-title{
    font-weight: 700;
    padding-right: 10px;
    color: black;
    text-align: left;
}
.receipt-total:last-child{
    font-weight: 700;
    color: green;
}
